@use "styles/breakpoints";
@use "styles/colors";
@use "styles/fonts";

@import "tailwindcss/components";
@import "tailwindcss/utilities";

// add custom styles here, don't change the dsfr files
.static-wrapper {
  background-color: colors.$msj-background;
  min-height: 80vh;
}

.static-footer {
  border-top: 2px solid colors.$msj-border;
  box-shadow: none;
}
